target/
!.mvn/wrapper/maven-wrapper.jar
**/target/
**/build/

.idea/
*.iml
*.iws
*.ipr

.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.DS_Store
Thumbs.db

*.log
logs/

*.pid
*.out
*.dump
*.bak

.env
*.env

docker-compose.override.yml
postgres_*_data/